body{

  height:100%;
  overflow:hidden;
}

form{
  margin:30px;
}

#playerMetrics{
  position:absolute;
  bottom: 2%;
  left:1%;
  background:rgba(40, 40, 40, 0.4);
  font-weight: bold;
  letter-spacing: 2px;
  color:white;
  border: 4px double black;
  z-index: 99999;
}

.colorBox{
  opacity: 1;
  height:150px;
  width:150px;
  border: 3px double grey;
}

#timerContainer {
  position:absolute;
  top:5px;
  left: 50%;
  text-align: center;
  font-size: 36px;
  font-family: monospace;
}
