<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Color Clicker</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="css/styles.css" rel="stylesheet" type="text/css">
    <script src="js/jquery-3.1.1.js"></script>
    <script src="js/scripts.js"></script>
  </head>
  <body>
    <div id="playerMetrics">
      <p>Score: <span id="playerScore"></span></p>
      <p>Boxes popped: <span id="poppedBoxes"></span></p>
      <p>Time added: <span id="timeAdded"></span></p>
    </div>
    <div id="timerContainer">
      <p id="gameTimer"></p>
    </div>

    <form id="gameOptions">
      <img src="img/color-clicker-logo-small.gif" alt="Color Clicker Logo">
      <h1 id="formTitle">Would you like to play Color clicker.</h1>
      <div class="form-group">
        <label for="gameTime">How long would you like the game to last?</label>
        <input type="number" name="gameTime" id="gameTime" class="form-control" value="65">
      </div>
      <label for="difficultyLevel">Select your difficulty level:</label>
      <select class="form-group" id="difficulty">
        <option value="100">Easy</option>
        <option value="50" selected="selected">Medium</option>
        <option value="25">Hard</option>
      </select>
      <button type="submit" class="btn btn-primary">Begin</button>
    </form>


  </body>
</html>
